<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Просмостр резерва столов</title>
</head>
<body>

<form method="POST" th:action="@{/restaurant/deleteReserve}" th:object="${reserve}">
    <label>Выбор резерва для удаления</label>
    <select name="reserve">
        <option th:each="item : ${reserve}"
                th:value="${item.id}"
                th:utext="${item.user.name}">
        </option>
    </select>

    <p><input type="submit" value="Удалить"></p>
</form>




</body>
</html>