<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:c="http://java.sun.com/jsp/jstl/core">

<head>
    <meta charset="UTF-8">
    <title>Просмостр резерва столов</title>
</head>
<body>

<form method="POST" th:action="@{/restaurant/showReserve}" th:object="${reserve}">
    <label>Выбор ресторана для статискики</label>
    <select name="restaurant">
        <option th:each="restaurant : ${restaurant}"
                th:value="${restaurant.restaurantId}"
                th:utext="${restaurant.restaurantName}">
        </option>
    </select>

    <p><input type="submit" value="Получить"></p>
</form>



<table th:if="${reserve}" border="2">
    <tr>
        <th>ID</th>
        <th>Время резерва</th>
        <th>Номер столика</th>
        <th>Имя пользователя</th>
    </tr>

    <th:block th:each="item : ${reserve}">
        <tr>
            <td th:text="${item.id}"></td>
            <td th:text="${item.reserveStart}"></td>
            <td th:text="${item.tables.tableNum}"></td>
            <td th:text="${item.user.name}"></td>
        </tr>
    </th:block>

    <p><a href="/">На главную</a></p>
</table>
</body>
</html>